@use '../base/vars' as *;

.app-header {
    grid-area: app-header;
    display: grid;
    align-content: space-between;
    justify-items: center;

    padding-block: .5rem;
    background-color: $bgc-app-header;
    color: $gray1;

    .app-nav {
        display: grid;
        gap: .5rem;

        svg {
            display: grid;
            width: 1.2rem;
            height: 1.2rem;
            stroke: $gray1;
            fill: $gray1;
        }

        a {
            display: grid;
            justify-items: center;
            gap: .5rem;
            padding: .5rem;
            transition: .5s;

            &.active {
                background-color: $bgc-app-header-hover;
                text-decoration: none;

                svg {
                    fill: #25D366;
                    stroke: #25D366;
                }
            }

            &:hover {
                background-color: $bgc-app-header-hover;
            }
        }

    }

    .user-info {
        display: grid;
        gap: .5rem;
        width: 100%;

        a {
            display: grid;
            justify-items: center;
            gap: .5rem;

            width: 100%;
            padding: .5rem;
            transition: .5s;
            cursor: pointer;

            .img-url {
                display: grid;
                width: 1.2rem;
                height: 1.2rem;

            }

            &.active {
                background-color: $bgc-app-header-hover;
                text-decoration: none;


            }

            &:hover {
                background-color: $bgc-app-header-hover;
            }

        }

        .language-list {
            display: grid;
            position: absolute;
            bottom: 3rem;
            background-color: white;
            border-radius: .5rem;
            box-shadow: 0 0 1rem rgba(0, 0, 0, .1);

            li {
                padding: 1.5rem;
                cursor: pointer;

                &:hover {
                    background-color: $bgc-app-header;
                }
            }

        }
    }

}