@use '../base/vars' as *;

.app-header {
    grid-area: app-header;
    display: grid;
    align-content: space-between;
    justify-items: center;

    padding-block: .5rem;
    min-width: 77.6px;
    background-color: $bgc-app-header;
    color: $gray1;

    .app-nav {
        display: grid;
        gap: .5rem;

        .icon {
            display: grid;
            padding: .5rem 1rem;
            border-radius: 3rem;
        }

        svg {
            display: grid;
            width: 1.2rem;
            height: 1.2rem;
            stroke: $gray1;
            fill: $gray1;
        }

        a {
            display: grid;
            justify-items: center;
            gap: .5rem;
            padding: .5rem;
            transition: .5s;

            &.active {
                text-decoration: none;

                .icon {
                    background: $bgc-app-header-hover;
                }

                svg {
                    fill: $pink;
                    stroke: $pink;
                }
            }

            &:hover {
                .icon {
                    background: $bgc-app-header-hover;
                }
            }
        }

    }

    .user-info {
        position: relative;
        display: grid;
        gap: .5rem;
        width: 100%;


        .user-btn {
            position: relative;
            display: grid;
            justify-items: center;
            gap: .5rem;

            width: 100%;
            padding: .5rem;
            transition: .5s;
            cursor: pointer;

            .notifications {
                position: absolute;
                top: 0;
                right: 0;
                display: grid;
                justify-items: center;
                align-items: center;

                width: 1.5rem;
                height: 1.5rem;
                // padding: .5rem;
                font-size: .75rem;
                background-color: $pink;
                color: white;
                border-radius: 50%;
            }

            .img-url {
                display: grid;
                width: 1.2rem;
                height: 1.2rem;

            }

            &.active {
                background-color: $bgc-app-header-hover;
                text-decoration: none;


            }

            &:hover {
                background-color: $bgc-app-header-hover;
            }

        }

        .language-list {
            display: grid;
            position: absolute;
            bottom: 3rem;
            background-color: white;
            border-radius: .5rem;
            box-shadow: 0 0 1rem rgba(0, 0, 0, .1);

            li {
                padding: 1.5rem;
                cursor: pointer;

                &:hover {
                    background-color: $bgc-app-header;
                }
            }

        }
    }

}