@use "../base/vars" as *;
.chat-input {
    grid-area: chat-input;
    display: grid;
    grid-template-columns: 1fr max-content;

    input {
        padding: 1rem;
    }

    .send-btn {
        padding-inline: 1rem;
        background-color: white;
        &:hover {
            color: $grin;
        }

        svg {
            display: grid;
            // fill: $grin;
            stroke: $grin;
            
            body[dir="rtl"] & {
                transform: rotate(180deg);
            }
            body[dir="ltr"] & {
                transform: rotate(0deg);
            }
        }
    }
}