@use '../base/vars' as *;

.chat-icons {
    position: absolute;
    bottom: -1rem;

    display: grid;
    grid-auto-flow: column;
    gap: .3rem;

    border-radius:0 0 .3rem .3rem;
    background: transparent;
    cursor: pointer;

    .icon {
        font-size: 1.6rem;
        display: grid;
        align-self: center;
        justify-self: center;
    }
}

