@use '../base/vars' as *;

.chat-icons {
    position: absolute;
    bottom: -1.2rem;

    display: grid;
    grid-auto-flow: column;
    gap: .3rem;

    // padding: .1rem;
    border-radius: 3rem;
    background-color: white;
    cursor: pointer;

    .icon {
        display: grid;
        align-self: center;
        justify-self: center;
    }
}

