@use "../base/vars" as *;

.chat-input {
    grid-area: chat-input;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    max-width: 100%;

    .modal-emoji-picker {


        padding: 0;
    }

    .emoji-btn {
        display: grid;
        align-items: center;
        height: 100%;
        padding-inline: 1rem;
        cursor: pointer;

        background-color: $bg-color-chat-preview;

        svg {
            display: grid;

        }


    }

    input {
        padding: 1rem;
        background-color: $bg-color-chat-preview;
        color: $color-text;
    }

    .send-btn {
        height: 100%;
        padding-inline: 1rem;
        background-color: $bg-color-chat-preview;

        &:hover {
            color: $grin;
        }

        svg {
            display: grid;
            // fill: $grin;
            // stroke: $grin;

            body[dir="rtl"] & {
                transform: rotate(180deg);
            }

            body[dir="ltr"] & {
                transform: rotate(0deg);
            }
        }
    }
}