@use '../base/vars' as *;

.chat-list {
    grid-area: chat;
    height: 100%;
    overflow-y: auto;
    backdrop-filter: blur(15px);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);

    ul {
        display: grid;
        align-content: start;
        height: 100%;
        overflow-y: auto;
        background: $bg-color-glass;

        li {
            display: grid;
            background-color: $bg-color-glass;

            &.selected {
                background: transparent;
                background-image: $bg-color-primary;

                p,
                h3,
                span {
                    color: #fff;
                }

                &:hover {
                    background: transparent;
                    background-image: $bg-color-primary;

                }

            }
        }
    }
}