@use '../base/vars' as *;

.login-with-google {
  // position: absolute;
  // top: 1rem;
  // right: 1rem;

  svg {
    stroke: none;
  }

  .nsm7Bb-HzV7m-LgbsSe,
  .nsm7Bb-HzV7m-LgbsSe-MJoBVe {
    width: max-content;
    height: max-content;
    padding: .6rem 2.5rem;
    font-size: 1rem;
    color: #ffffff;
    background-image: $color-btn;
    border-radius: 3rem;
    cursor: pointer;
    border: none;
    transition: all .3s;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

    &:hover {
      padding: .6rem 2.7rem;
      background-image: $color-btn-hover;
      color: #fff;
    }

  }
}