@use '../base/vars' as *;
.msg-list {
    grid-column: 2;
    align-content: start;
    padding: 1rem;
    min-height: 0;
    height: 100%;
    overflow: auto;
    

    .done {
        // opacity: 0.6;
        .msg-preview {
            background: white;
        }
    }
}