@use '../base/vars' as *;

.script-preview {
    position: relative;
    height: 100%;
    

    .script-preview-container {
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        display: grid;
        // grid-template-rows: 1fr 1fr 5rem;
        gap: 1rem;

        height: 100%;
        padding: 2rem;
        border-radius: 1.8rem;

        // background-image: $bg-color-preview;
        background-image: $bg-color-preview-hover;

        transition: .5s;
        cursor: pointer;

        // box-shadow: 0 0 .5rem rgb(255, 255, 255);

        svg {
            width: 2rem;
            height: 2rem;
            fill: $color-text;
            stroke: $color-text;
        }

        h1 {
            font-size: 2.1rem;
            font-weight: 400;
            color: #ffffff;
        }

        p {
            font-size: 1rem;
            color: $color-text;
        }

        &:hover {
            // box-shadow: 0 0 10px rgb(255, 255, 255, .5);
            transform: translateY(-5px);
            transition: .5s;
        }
    }
}