.template-preview {
    display: grid;
    gap: 1rem;
    align-items: center;

    height: 100%;
    padding: 1rem;
    background: #f2f6fc;
    color: #A8A8BD;
    cursor: pointer;
    border-radius: 8px;
    margin: 0.5rem 0;
    text-align: center;
    font-size: 1.5rem;
}

