.user-list {
    display: grid;
    gap: .5rem;
    align-content: start;
    // max-height: 100%;
    overflow: auto;
   padding-inline: 1rem;
    padding-block-start: 3rem;
    
    &::-webkit-scrollbar {
        width: 6px;
    }
    
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 3px;
    }
}