@use '../base/vars' as *;
.user-msg {
    position: fixed;
    top: 60px;
    right: 0.2em;
  
    display: grid;
    gap: 1rem;
    justify-items: start;
    align-items: center;
  
    padding: 1.5rem;
    border-radius: 4px;
    background-color: grey;
  
    color: white;
    font-size: 0.9em;
  
    opacity: 0;
    translate: 150%;
    transition: 600ms;

    p{
      // padding: 1rem;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
  
  .user-msg.visible {
    opacity: 1;
    translate: 0;
  }
  
  .user-msg button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    padding: 0;
    svg {
      stroke: white;
      fill: white;
    }
    
  }
  
  .user-msg.success {
    background-color: rgb(41, 189, 73);
    z-index: 100000000000000000000;
  }
  .user-msg.error {
    background-color: rgb(216, 59, 59);
    z-index: 100000000000000000000;
  }
  .user-msg.respect {
    
    background-image: $color-btn;
    z-index: 100000000000000000000;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      animation: prayingHands 1.5s ease-out infinite;
    }
  }
  
@keyframes prayingHands {
    0% {
        transform: translateY(80%);
        opacity: 1;
    }
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}
  