.user-list {
    display: grid;
    gap: .5rem;
    max-height: 95%;
    overflow: auto;
    padding-inline-end: 1rem;
    
    &::-webkit-scrollbar {
        width: 6px;
    }
    
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 3px;
    }
}