@use '../base/vars' as *;

.user-msg {
  position: fixed;
  top: 60px;
  right: 0.2em;

  display: grid;
  gap: 1rem;
  justify-items: start;
  align-items: center;

  border-radius: 4px;
  // opacity: 0;
  transform: translateX(150%); // Changed to translateY for vertical movement
  transition: transform 600ms;

  // p {
  //   font-size: 2.2rem;
  //   font-weight: bold;
  // }
}

.user-msg.visible {
  opacity: 1;
  transform: translateX(0); // Changed to translateY for vertical movement
}

.user-msg button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  padding: 0;

  svg {
    stroke: white;
    fill: white;
  }

}

.user-msg.success {
  padding: 1rem;
  background: linear-gradient(135deg, #2196F3, #64B5F6);
  // border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 128, 0, 0.2);
  color: white;
  font-weight: 600;
  z-index: 1000;

  &:hover {
    background: linear-gradient(135deg, #1976D2, #42A5F5);
  }
}

.user-msg.error {
  padding: .75rem;
  font-size: .75rem;
  background-color: rgb(216, 59, 59);
  z-index: 100000000000000000000;
}

.user-msg.respect {
  background: linear-gradient(135deg, #6EE7B7, #3B82F6);
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 3rem 1rem;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: white;
  animation: bounce 2s infinite;
  z-index: 1000;
  transition: 0.3s ease;
  // position: relative;
  overflow: hidden;

  &::before {
    content: '🙏';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    opacity: 0.2;
    animation: prayingHandsBackground 2s infinite;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    // background-size: contain;
    // background-repeat: no-repeat;
    animation: prayingHands 1.5s ease-out infinite;
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3px);
    }
  }
}

@keyframes prayingHandsBackground {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.2;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0.3;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.2;
  }
}

@keyframes prayingHands {
  0% {
    transform: translateY(80%);
    opacity: 1;
  }

  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}