@use "../base/vars" as *;

.chat-index {
    grid-area: chat-index;
    display: grid;
    grid-template-columns: minmax(250px, 25%) (1fr);
    grid-template-rows: 1fr max-content;
    grid-template-areas:
        "contacts-index chat-list"
        "contacts-index chat-input";


    // background-color: $bg-color-chat;
    background-color: white;

    color: $color-text;
}