@use '../base/vars' as *;

.chat-index {
    display: grid;
    grid-template-areas:
        'new-chat msg msg msg'
        'chat msg msg msg'
        'chat msg msg msg'
        'chat form form form';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr auto;
    column-gap: 1rem;
    height: 100vh;
    padding-inline-end: 1rem;

    input[type='radio'] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        pointer-events: none;
    }

    .new-chat-btn {
        padding: 0.5rem 1rem;
        background-color: $bg-color-glass;
        box-shadow: 0 4px 15px rgba(102, 126, 234, 0.2);

        &:hover {
            background-color: $bg-color-hover;
            color: #fff;
        }
    }
}