@use '../base/vars' as *;

.home-page {
    position: relative;
    display: grid;
    height: 100vh;
    padding: 1rem;

    .home-header {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        height: max-content;

        &.justify-end {
            justify-content: end;
        }

        .logout-btn {
            display: grid;
            align-items: center;
            justify-content: space-between;
            grid-auto-flow: column;
            gap: 1rem;

            height: 100%;
            width: max-content;
            padding: .6rem 2rem;
            font-size: 1.2rem;

            color: $pink;
            cursor: pointer;

            transition: all .3s;

            &:hover {
                background-image: $bg-color-preview-hover;
            }
        }

        img,
        .logo {
            width: 300px;
        }

    }

    .login-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: grid;
        justify-items: center;
        align-items: center;
        gap: 1rem;

        width: 23%;

        overflow: hidden;

        padding: 1rem;
        font-family: 'Roboto', sans-serif;

        background-color: white;
        border: 1px solid #ededed;
        border-radius: .5rem;
        // box-shadow: 3px 3px 10px rgb(128, 127, 127);

        z-index: 1;

        p {
            text-align: center;
        }
    }

    .home-nav {
        display: grid;
        justify-content: center;
        align-items: center;
        // grid-template-columns: repeat(3, 200px);
        grid-template-columns: repeat(3, 300px);
        gap: 2rem;

        padding: 1rem;
        height: 100%;
        color: $color-text;
        overflow: auto;

        scrollbar-width: none;

        a {

            display: grid;
            gap: 1rem;

            height: max-content;
            padding: 2rem;
            border-radius: 1.8rem;
            font-size: 2.5rem;
            background-image: $bg-color-preview-hover;

            transition: .6s;
            cursor: pointer;

            span {
                // color: #ffffff;
            }

            svg {
                width: 3rem;
                height: 3rem;
                fill: $color-text;
                stroke: $color-text;
            }


            &:hover {
                transform: translateY(-5px);
                transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                background-image: linear-gradient(to bottom right,
                        rgba(255, 255, 255, 0.1),
                        rgba(255, 255, 255, 0.05));

                svg {
                    fill: $pink;
                    stroke: $pink;
                }
            }
        }
    }

}