.msg-index {
    grid-template-rows: auto minmax(0, 1fr);
    grid-template-columns: 20% 1fr;
    height: 100vh;
    background: white;

    .add-btn {
        position: absolute;
        bottom: 1rem;
        left: 2rem;
    }
}