@use '../base/vars' as *;


.objection-details {

   .overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
      display: none;
   }

   display: grid;
   grid-template-columns: minmax(0, 200px) minmax(700px, 1fr) minmax(0, 200px);
   grid-template-rows: max-content 1fr 1fr;
   gap: 3rem;
   height: 100vh;
   overflow: auto;
   padding: 1rem;
   color: #ffffff;

   .actions {
      grid-column: 3;
      grid-row: 2;
      display: grid;
      align-content: start;
      gap: 1rem;
   }

   .objection-details-main {
      grid-row: 1/4;
      grid-column: 2;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 1rem;

      height: 100%;
      overflow: auto;
      scrollbar-width: none;

      padding: 1rem;
      border: 1px solid #030029;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

      transition: all 0.3s;

      .item {
         display: grid;
         grid-template-columns: max-content 1fr;
         grid-template-rows: max-content 1fr;
         gap: .5rem;
         padding: 1rem;
         border-radius: .5rem;
         height: 100%;
         background-color: white;
         transition: all 0.3s;

         .back-btn {
            svg {
               fill: white;
               stroke: white;
            }
         }

         .item-content {
            grid-row: 2;
            grid-column: 1/span 2;
            display: grid;
            gap: 1rem;
            padding: .5rem;
            cursor: pointer;
            z-index: 0;

            .item-title {
               word-spacing: normal;
            }

            .details-item-btns {
               display: none;
               grid-auto-flow: column;
               justify-content: space-between;
               gap: 1rem;
               grid-row: 1;
               grid-column: 1;
            }

            &.selected {
               position: fixed;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);

               overflow: auto;
               max-height: 100vh;
               height: max-content;
               width: 50%;
               padding: 1rem;
               font-size: 1.5rem;
               background-color: white;
               z-index: 2;
               // transition: all 0.3s;

               p {
                  white-space: pre-wrap;
               }
            }
         }

         img {
            width: 100px;
            object-fit: cover;
         }

         p {
            color: $color-primary;
            white-space: pre-wrap;
         }
      }
   }

   .objection-details-links {
      grid-row: 1/span 2;
      grid-column: 1;
      display: grid;
      gap: 1rem;
      align-content: start;

      .btn1 {
         width: 100%;
         opacity: 1;
         transform: translateY(20px);
         // animation: fadeInUp 0.5s ease forwards;
         background-image: var(--color-link-active);
         z-index: 3;
         &:hover {
            background-image: $color-btn-hover;
         }
      }

      .back-btn {
         background-image: $color-btn;
         z-index: 3;

         svg {
            fill: white;
            stroke: white;
         }

         &:hover {
            background-image: $color-btn-hover;
         }
      }

      .btn1:nth-child(1) {
         animation-delay: 0s;
      }

      .btn1:nth-child(2) {
         animation-delay: 0.3s;
      }

      .btn1:nth-child(3) {
         animation-delay: 0.6s;
      }

      .btn1:nth-child(4) {
         animation-delay: 0.9s;
      }

      .btn1:nth-child(5) {
         animation-delay: 1.2s;
      }

      .btn1:nth-child(6) {
         animation-delay: 1.5s;
      }

      .btn1:nth-child(7) {
         animation-delay: 1.8s;
      }

      .btn1:nth-child(8) {
         animation-delay: 2.1s;
      }
   }

}

@keyframes fadeInUp {
   to {
      opacity: 1;
      transform: translateY(0);
   }
}