@use '../base/vars' as *;

.script-details {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(500px, 900px) minmax(0, 1fr);
    justify-items: center;
    align-items: center;

    height: 100vh;
    // background-color: white;

    color: $gray1;

    // color: $color-text;
    // color: white;
    .nav-btns {
        grid-column: 1;
        // grid-row: 2;
        display: grid;
        gap: 1rem;
        justify-items: start;
        align-items: start;

        padding: 1rem;
        width: 100%;

        .btn2 {
            width: 5rem;
            text-align: center;
        }

        .objections-btn {
            position: fixed;
            bottom: 2rem;
            left: 2rem;
            width: max-content;
        }

        svg {
            height: 2rem;
            width: 2rem;
            fill: $color-text;
        }

    }

    .items {
        grid-column: 2;
        // grid-row: 2;
        display: grid;

        grid-template-rows: max-content 1fr max-content;

        line-height: 2;
        height: 100%;
        padding: 1rem;
        overflow: auto;
        scrollbar-width: none;
        // scrollbar-color: $color-text transparent;
        // scroll-snap-type: y mandatory;
        // scroll-behavior: smooth;

        background-color: white;


        .item {
            display: grid;
            grid-template-rows: max-content 1fr max-content;
            align-items: center;
            justify-items: center;
            // height: calc(100vh);
            width: 100%;
            font-size: 1.3rem;
            scroll-snap-align: start;

            .content {
                grid-row: 2;
                border-radius: .5rem;
                width: 100%;
            }

            &>* {
                padding: 1rem;
            }

            .title {
                display: block;
                font-size: 2rem;
                font-weight: bold;
            }

            svg {
                height: 2rem;
                width: 2rem;
                fill: $color-text;

            }
        }
    }

    .objections-index {
        grid-column: 3;
        // grid-row: 2;
        

      .btn1{
            opacity: 0;
        }
    }
}