@use '../base/vars' as *;

.script-details {
    position: relative;
    display: grid;
    // gap: 1rem;
    grid-template-columns: minmax(0, 1fr) minmax(200px, 900px) minmax(0, 1fr);
    justify-items: center;
    align-items: center;

    height: 100vh;
    // width: calc(100vw - 80px);
    overflow: hidden;
    // background-color: white;

    color: $gray1;

    // color: $color-text;
    // color: white;
    .script-details-btns {
        grid-column: 3;
        // grid-row: 2;
        display: grid;
        gap: 1rem;
        justify-items: end;
        align-items: start;

        padding: 1rem;
        width: 100%;

        .btn2 {
            width: 5rem;
            text-align: center;
        }

        .objections-btn {
            position: fixed;
            bottom: 2rem;
            left: 2rem;
            width: max-content;
        }

        svg {
            // height: 2rem;
            // width: 2rem;
            // fill: $color-text;
        }

    }

    .items {
        grid-column: 2;
        grid-row:2/5;
        display: grid;

        grid-template-rows: max-content 1fr max-content;

        line-height: 2;
        height: 100%;
        width: 100%;
        padding: 3rem 1rem;
        // border-radius: 1rem 1rem 0 0;
        overflow: auto;
        scrollbar-width: none;

        background-color: white;


        .item {
            display: grid;
            grid-template-rows: max-content 1fr max-content;
            align-items: center;
            justify-items: center;
            width: 100%;
            font-size: 1.3rem;
            scroll-snap-align: start;

            .content {
                grid-row: 2;
                border-radius: .5rem;
                width: 100%;
            }

            &>* {
                padding: 1rem;
            }

            .title {
                display: grid;
                grid-auto-flow: column;
                gap: 1rem;
                align-items: center;
                
                font-size: 2rem;
                font-weight: bold;
            }

            svg {
                // display: grid;
                // height: 2rem;
                // width: 2rem;
                fill: $color-text;
                stroke: $color-text;
                // border-radius: 3rem;

            }
        }
    }

    // .objections-index {
    //     grid-column: 3;
    //     grid-row: 2;
        

    //   .btn1{
    //         opacity: 0;
    //     }
    // }
}