.user-index {
    position: relative;
    display: grid;
    grid-template-rows: max-content 1fr;
    height: 100vh;
    // padding: 1rem;

    .add-btn {
        // position: absolute;
        // top: 1.2rem;
        // left: 2rem;
        // z-index: 3;
    }
}