@use '../base/vars' as *;

.img-url,
.img-url-from-me {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

svg {
    display: grid;
    width: 1.2rem;
    height: 1.2rem;
}

input:focus {
    outline: none;
}

.btn {
    width: max-content;
    height: max-content;
    padding: .5rem 1rem;
    font-size: 1rem;
    color: $grin;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    transition: all .3s;

    &:hover {
        background-color: #25D366;
        color: #fff;
    }
}

.btn2 {
    width: max-content;
    height: max-content;
    padding: .5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;
    background-color: white;

    &:hover {
        background-color: $bgc-chat-preview-hover;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1), 1px 0px 3px rgba(0, 0, 0, 0.1);

    }
}

.btn3 {
    width: max-content;
    height: max-content;
    padding: .5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;

    background-color: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1), 1px 0px 3px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: $bgc-chat-preview-hover;
    }
}