$bgc-app-header: rgb(240 242 245);
$bgc-app-header-hover: rgb(220 220 220);
$bgc-chat-preview-hover: rgb(210 210 220 / 40%);
$bg-color-link: rgba(210, 210, 220, 0.4);
$color-app-header: #111B21;

$gray1: #708090;
$gray2: #A9A9A9;
$grin: #25D366;

$color-primary: #111B21;