$bgc-app-header: #eaf1fb;
$bgc-app-header-hover: #d3e3fd;
$bgc-chat-preview-hover: rgb(210 210 220 / 40%);
$bg-img-link: rgba(210, 210, 220, 0.4);
$color-app-header: #111B21;

$gray1: #708090;
$gray2: #A9A9A9;
$grin: #25D366;

$color-primary: #111B21;

$bg-color: #030029;
$color-text: #A8A8BD;

$bg-color-preview-hover: radial-gradient(at bottom left, #030029 0%, #8773cb40 100%);
$bg-color-preview: radial-gradient(at top right, #030029 0%, #030029 100%);
$color-btn: linear-gradient(320deg, #cb1e88 0%, #cb1e5c 100%);
$color-btn-hover: linear-gradient(320deg, #cf9eaf 0%, #cb1e88 100%);
$color-btn-active: linear-gradient(320deg, #d87cb5 0%, #d4bbc4 100%);
$color-link-active: linear-gradient(320deg, #d87cb5 0%, #d4bbc4 100%);

$bg-color-chat: rgba(210, 210, 220, 0.9);
// $bg-color-chat-preview: #8773cb40;
$bg-color-chat-preview: #ededed;
$bg-msg-preview: #f2f6fc;
// $bg-color-msg-preview: #e8effb;

$pink:#cb1e88;
$green:#25D366;
$blue:#34B7F1;

$google-text-color-email-preview: #202124;
$google-text-color-title: #444746;